
<% if notice %>
<p class="alert alert-success">
  <%= notice %>
</p>

<% elsif alert %>

<p class="alert alert-danger">
<%= alert %>
</p>
 <% end %>

<div class="container">

    <div class="wrapper">

        <%= link_to new_event_path, class: "btn btn-lg btn-info btn-fill btn" do %>
           <span class="glyphicon glyphicon-plus"></span> Add New Event
        <% end %>

    <% @events.each do |event| %>
      <div class="col-md-4">
        <div>Event: <%= link_to event.description, details_path(id: event.id) %></div>
        <div>Description: <%= event.description %></div>
        <div>Location: <%= link_to event.location, map_path %></div>
      </div>
      <% end %>
    </div>

</div>
