<h3>Dashboard</h3>


<% if notice %>
<p class="alert alert-success">
  <%= notice %>
</p>

<% elsif alert %>

<p class="alert alert-danger">
<%= alert %>
</p>
 <% end %>

<div class="container">

    <div class="col-xs-12 col-md-6 col-md-offset-3 well wrapper">

        <%= link_to new_event_path, class: "btn btn-info btn" do %>
           <span class="glyphicon glyphicon-plus"></span> New Event
        <% end %>

    <% @events.each do |event| %>
      <div>Event: <%= link_to event.description, show_event_path(id: event.id, format: "pdf") %><br>
          Date: <%= event.date %>
      </div>
      <% end %>
    </div>

</div>
