<h1>Add An Event</h1>


    <div class="">
        <% if @event.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this article from being saved:</h2>

            <% @event.errors.full_messages.each do |msg| %>
            <%= msg %><br>
            <% end %>
        </div>
        <% end %>


  <div class="col-xs-12 col-md-6 col-md-offset-3 well">

  <%= form_for @event, url: new_event_path do |f| %>

  <div class="form-group has-success">
    <%= f.label :description  %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

      <div class="form-group has-success">
        <%= f.label :buyer, "Talent Buyer"%>
        <%= f.text_field :buyer, class: 'form-control'  %>
      </div>


      <div class="form-group has-success">
        <%= f.label :contact_person%>
        <%= f.text_field :contact_person, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control'  %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.label :date, "Date (YYYY/MM/DD)" %>
        <%= f.text_field :date, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.label :venue_name, "Name of Venue"%>
        <%= f.text_field :venue_name, class: 'form-control' %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.label :location, "Location (Street Address)" %>
        <%= f.text_field :location, class: 'form-control' %>
      </div>



      <div class="form-group has-success has-success">
        <%= f.label :time_of_performance%>
        <%= f.text_field :time_of_performance, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.label :performance_length%>
        <%= f.text_field :performance_length, class: 'form-control' %>
      </div>


      <div class="form-group has-success has-success">
        <%= f.radio_button(:performance_type, "Music")%>
        <%= f.label(:performance_type, "Music") %>
        <%= f.radio_button(:performance_type, "Speaking")%>
        <%= f.label(:performance_type, "Speaking") %>
        <%= f.radio_button(:performance_type, "Music")%>
        <%= f.label(:performance_type, "Other") %>
      </div>







      <div class="form-grup">
        <%= f.label :other_type, "If other, what kind?"%>
        <%= f.text_field :other_type, class: 'form-control' %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.label :ticket_price%>
        <%= f.text_field :ticket_price, class: 'form-control' %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.label :expected_attendance%>
        <%= f.text_field :expected_attendance, class: 'form-control' %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.radio_button(:indoor_outdoor, "Indoor")%>
        <%= f.label(:indoor_outdoor, "Indoor") %>
        <%= f.radio_button(:indoor_outdoor, "Outdoor")%>
        <%= f.label(:indoor_outdoor, "Outdoor") %>
      </div>

      <div class="form-group has-success has-success">
        <%= f.label :performance_price%>
        <%= f.text_field :performance_price, class: 'form-control' %>
      </div>

      <div>
        <%= f.submit "Book Event", class: "btn btn-info"%>
    <% end %>

</div>
