<h1>Accounts#new</h1>
<p>Find me in app/views/accounts/new.html.erb</p>

<p>
  Create Account
</p>

  <div class="well">
    <%= form_for @account, url: new_account_path do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
          <%= f.submit %>

    <% end %>

  </div>
