<!DOCTYPE html>
<html>
<head>
  <title>ArtstMngr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-header">
    ArtstMngr
  </div>

  <div class="">
    <%= link_to "Home", root_path %>
    <%= link_to "Sign Out", sign_out_path %>
    <%= link_to "Map", map_path %>
  </div>
      <%= yield %>
</body>
</html>
