<!DOCTYPE html>
<html>
<head>
  <title>ArtstMngr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-header">
    ArtstMngr
<%= link_to "Sign Out", sign_out_path %></li>
  </div>
      <%= yield %>
</body>
</html>
