<div>
    <% if @account.errors.any? %>
    <div class=" well alert alert-danger" role="alert">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited your account from being created:</h2>

        <% @account.errors.full_messages.each do |msg| %>
        <%= msg %><br>
        <% end %>
    </div>
    <% end %>

<div class="container">

  <div class="col-xs-12 col-md-6 col-md-offset-3 well">
      <%= form_for @account, url: new_account_path do |f| %>
        <div class="form-group has-success">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control"%>
        </div>

        <div class="form-group has-success">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
            <%= f.submit "Create Account", class: "btn btn-info" %>
      <% end %>
    </div>

</div>
